/* Reset some default styles */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #333;
}

/* Style the top navigation */
.top-navigation {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: 3vw;
    padding-right: 6vw;

    box-shadow: 3px 1px 10px 7px rgba(43, 43, 43, 0.66);
}

.top-navigation ul {
    display: flex;
    align-items: center;
    height: 100%;
}

.top-navigation li {
    min-height: auto;
    margin: 0 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 1em;
}

.logo-link {
    padding: 0.5em;
}

.nav-link:hover {
    background-color: #3d3d3d;
}
